<div style="width:40%; padding: 30px; float: left;">
  <h1><a routerLink="/">Welcome Home</a></h1>
  <h2>Version: 1.0.0</h2>
  <h3>by Groovy Technologies Ltd</h3>
  <div style="margin-top:50px">
    <p>This application is developed using:</p>
    <ul>
      <li><a href="https://angular.io/">Angular 4</a><img class="icon" src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
        /></li>
      <li><a href="https://getbootstrap.com/">Bootstrap<img class="icon" src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png"
          /></a></li>
      <li><a href="https://openweathermap.org/api">OpenWeatherMap API</a><img class="icon" src="https://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/logo_OpenWeatherMap_orange.svg"
        /></li>
    </ul>
  </div>
</div>
<iframe src="http://www.groovytechs.co.uk" style="float: right; width: 60%; height: 1000px;">