<!-- Edit   -->
<div class="form-container" *ngIf="mode == 'edit'">
  <form #f="ngForm" (ngSubmit)="onUpdate()">
    <div class="row">
      <div class="col">
        <label for="name">Name</label>
        <input [(ngModel)]="bDayOnEdit.name" #name="ngModel" type="text" class="form-control form-control-sm" id="name" name="name" required minlength="3"
        />
        <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
          <div *ngIf="name.errors.required">Name field is required.</div>
          <div *ngIf="name.errors.minlength">Name field should be at least 3 characters.</div>
        </div>
      </div>

      <div class="col">
        <label for="category">Date</label>
        <input [(ngModel)]="bDayOnEdit.date"  #date="ngModel" type="date" class="form-control form-control-sm" id="date" name="date" required />
        <div class="alert alert-danger" *ngIf="date.touched && !date.valid">
          <div *ngIf="date.errors.required">Date field is required.</div>
        </div>
      </div>

      <div class="col">
        <input ngModel #id="ngModel" type="hidden" class="form-control  form-control-sm" id="id" name="id" />
        <button class="btn btn-primary submit" [disabled]="f.invalid">Save</button>
      </div>

    </div>
  </form>
</div>
<!-- Edit   -->
<!-- List -->
<div class="form-container" *ngIf="mode == 'list'">
  <table class="table table-striped">
    <tr *ngFor="let bDay of allBirthDays">
      <td>{{bDay.name}}</td>              
      <td>{{bDay.date | date: locale:'en-UK'}}</td>
      <td style="float: right"><button (click)="onEdit(bDay.id)"><span class="fas fa-edit"></span> </button><button (click)="onDelete(bDay.id)"><span class="fas fa-minus-circle"></span> </button></td>
    </tr>
  </table>

  <form #f="ngForm" (ngSubmit)="onAdd(f.value)">
      <div class="row">
        <div class="col">
          <label for="name">Name</label>
          <input ngModel #name="ngModel" type="text" class="form-control  form-control-sm" id="name" name="name" required minlength="3"
          />
          <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
            <div *ngIf="name.errors.required">Name field is required.</div>
            <div *ngIf="name.errors.minlength">Name field should be at least 3 characters.</div>
          </div>
        </div>

        <div class="col">
          <label for="category">Date</label>
          <input ngModel #date="ngModel" type="date" class="form-control  form-control-sm" id="date" name="date" required />
          <div class="alert alert-danger" *ngIf="date.touched && !date.valid">
            <div *ngIf="date.errors.required">Date field is required.</div>
          </div>
        </div>

        <div class="col">
          <button class="btn btn-primary submit" [disabled]="f.invalid">Add</button>
        </div>

      </div>
    </form>
</div>
<!-- List -->