<div class="form-container">
  <form #f="ngForm" (ngSubmit)="submit(f.value)">
    <div class="form-group">
      <label for="name">Name</label>
      <input ngModel #name="ngModel" type="text" class="form-control" id="name" name="name" required minlength="3" />
      <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
        <div *ngIf="name.errors.required">Name field is required.</div>
        <div *ngIf="name.errors.minlength">Name field should be at least 3 characters.</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="category">Date</label>
      <input ngModel #date="ngModel" type="date" class="form-control" id="date" name="date" required />
      <div class="alert alert-danger" *ngIf="date.touched && !date.valid">
          <div *ngIf="date.errors.required">Date field is required.</div>
        </div>
    </div>

    <button class="btn btn-primary" [disabled]="f.invalid">Submit</button>
  </form>
  
</div>