<div class="settings-panel" [hidden]="!settingsPaneExpanded">
    <app-editor (editorRefresh)="onRefreshPanes($event)"></app-editor>
</div>
<div class="main" [style.backgroundImage]="'url('+getDesktopImageUrl()+')'">
    <div class="cog-container">
        <i class="fas fa-cog fa-2x" (click)="onSettingsClicked()"></i>
    </div>
    <app-birthday-reminder [refreshTriggerInput]="refreshToggle" [closable]="true"></app-birthday-reminder>
    <app-weather-forecast [refreshTriggerInput]="refreshToggle"></app-weather-forecast>
    <app-fx [refreshTriggerInput]="refreshToggle"></app-fx>
    <app-title></app-title>
    <a class="about-link text-secondary" routerLink="/about">About</a>
</div>

