<div class="form-group">
  <div class="row">
    <div class="col">
      <label for="country">Country</label>
      <select [(ngModel)]="homeCountryCode" #country="ngModel" name="country" id="country" class="form-control form-control-sm"
        (change)="onCountrySelect()" required>
        <option value="" selected>Please select</option>
        <option *ngFor="let w of weatherCountryList" [value]="w.code">{{w.name}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="country.dirty && !country.valid">
        <div *ngIf="country.errors.required">Country field is required.</div>
      </div>
    </div>
    <div class="col" [hidden]="weatherCityList == null" >
      <label for="city">City</label>
      <type-ahead autocomplete="off" [(ngModel)]="homeCity" name="city" id="city" class="form-control form-control-sm" #city="ngModel" required
      [suggestions]="weatherCityList" complex="true"></type-ahead>
      <div class="alert alert-danger" *ngIf="homeCity == null">
        <div>Please select a city from the list.</div>
      </div>
      {{homeCity}}
    </div>

    <div class="col">
      <button class="btn btn-primary" (click)="onSave()" [disabled]="city.invalid">Save</button>
    </div>
  </div>
</div>
