div.main{
    height: 1000px;
    background-size: cover;
}

.cog-container{
    float: right; 
    color: white; 
    padding: 10px;
    cursor: pointer;
}

.about-link{
    float: right;
    padding: 10px;
    bottom: 15px;
    right: 15px;
    position: absolute;
}